@import "./base/reset";

@import "./base/variable";
@import "./base/mixin";

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: $b;
    overflow: hidden;

    header {
        width: 30%;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        @include header;
    }

    h1 {
        font-size: 100px;
        color: $g;
    }

    input {
        background-color: $g;
        font-size: 20px;
    }

    button {
        background-color: $grey;
        font-size: 20px;
    }

    main {
        margin-top: 50px;
        background-size: cover;
    }

    section {
        @include section;
        margin-bottom: 40px;
        
        div {
            font-size: 32px;
            color: $b;
        
        .border-new {
            border: 1px solid $g;
        }
    }
}
}
